 html {
   padding: 0;
 }

 body {
   background-color: black;
 }

 * {
   color: black;
   font-family: 'Futura';
   src: url('assets/futura.ttf');
 }

 #timer {
   position: absolute;
   display: inline-block;
   text-align: center;
   font-size: 1.85vw;
   margin-top: 250px;
	 margin-left: 34%;
 }

 #clockdiv {
   font-family: sans-serif;
   display: inline-block;
   font-weight: 100;
   text-align: center;
   font-size: 30px;
 }

 #clockdiv>div {
   padding: 10px;
   border-radius: 3px;
   background: #FF2B06;
   display: inline-block;
 }

 #clockdiv div>span {
   padding: 15px;
   border-radius: 3px;
   background: #FF2B06;
   display: inline-block;
	 color: #ffff;
 }

 .smalltext {
   padding-top: 5px;
   font-size: 16px;
   text-transform: uppercase;
	 color: #ffff;
 }

 #particles-js {
   width: 100%;
   height: 100%;
   background-color: black;
   background-image: url('');
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
 }

 .hero {
   width: auto;
   position: relative;
   margin-top: 90px;
   transform: translateY(100%);
   height: auto;
   background-color: transparent;
   text-align: center;
 }

 canvas {
   margin-top: -100px;
 }

 .hero-text {
   color: #FF2B06;
   font-size: 50px;
   letter-spacing: 3px;
 }
 #navbar{
 	opacity: .9;
 	position: fixed;
 	margin-bottom: 100px;
  margin-top: 15px;
  margin-right: 5px;
  background-color: #FF2B06;
  color: white;
  height: 60px;
  width: 100%;
  text-align: center;
 }
 .navContent{
 	font-size:20px;
 	width: 180px;
  opacity: 1;
  color: white;
 	transition: 0.2s;
 	margin-left: 4vw;
 	margin-right:4vw;
 	letter-spacing: 5px;
 	text-transform: uppercase;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
 }.navContent:hover{
 	transform: scale(1.1);
 	transition: 0.2s;
}
 a {
   color: #fff;
}
